* {
  background-color: #605770;
  color: white;
}

input {
  height: 30px;
  width: 230px;
  border-radius: 20px;
  border: solid 1px;
  font-size: 17px;
  text-align: center;
  box-shadow: 9px 13px 10px -7px rgba(0,0,0,0.24) inset;
  -webkit-box-shadow: 9px 13px 10px -7px rgba(0,0,0,0.24) inset;
  -moz-box-shadow: 9px 13px 10px -7px rgba(0,0,0,0.24) inset;
}

.submitBtn{
  display: none;
}

.playBtn {
  border-radius: 8px;
	display: block;
  background-color: #6f732f;
	cursor: pointer;
	color: rgb(192, 192, 192);
  font-weight: 1000;
	font-family: 'Consolas';
  letter-spacing: 2px;
  border-style: none;
	font-size: 40px;
	padding: 11px 46px;
	text-decoration: none;
  box-shadow: 6px 5px 5px -1px rgb(0 0 0 / 50%);
  -webkit-box-shadow: 6px 5px 5px -3px rgb(34 33 33 / 50%);
  -moz-box-shadow: 6px 5px 5px -1px rgba(0,0,0,0.5);
	text-shadow: 0px 1px 0px #2f6627;
}

.playAgainBtn {
  border-radius: 8px;
  display: block;
  background-color: #6f732f;
  cursor: pointer;
  color: rgb(192, 192, 192);
  font-weight: 1000;
  font-family: 'Consolas';
  letter-spacing: 2px;
  border-style: none;
  font-size: 30px;
  padding: 11px 26px;
  text-decoration: none;
  box-shadow: 6px 5px 5px -1px rgb(0 0 0 / 50%);
  -webkit-box-shadow: 6px 5px 5px -3px rgb(34 33 33 / 50%);
  -moz-box-shadow: 6px 5px 5px -1px rgba(0,0,0,0.5);
  text-shadow: 0px 1px 0px #2f6627;
}

.playBtn:hover {
  background-color: #6e732f9f;
}

.playAgainBtn:hover {
  background-color: #6e732f9f;
}

.results-card {
  background-color: #D9D0DE;
  height: 275px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 6px 5px 5px -1px rgba(0,0,0,0.5);
  -webkit-box-shadow: 6px 5px 5px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 6px 5px 5px -1px rgba(0,0,0,0.5);
  position: absolute;
  bottom: 159px;
  left: 640px;

}

.results-title {
  width: 70%;
  text-align: center;
  border-radius: 3px;
}

.results-text {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: space-evenly;
  height: 70%;
}

h1{
  font-size: 40px;
  font-family: 'Anonymous Pro';
  letter-spacing: 1px;
}

h2{
  color: #605770;
  font-family: 'Candara';
  margin: 0;
  background-color: transparent;
}

.ingame-text {
  color: white;
  font-family: 'Consolas';
  font-weight: 300;
  font-size: 20px;
  position: relative;
  top: 30px;
}

.App {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} 
